= slide 'Колекции' do
  ul
    li съвкупност от елементи
    li можем да ги взимаме един по един
    li могат да бъдат произволен брой

  h2 Списъци
  annotate:
    [1, 1, 2, 3, 5, 8, 13, 21]                # поредица
    ["Anna", "Sofia", 23, "female"]           # лични данни
    [["Lorde", "Team"], ["Sia", "Titanium"]]  # [изпълнител, песен]

  h2 Обхвати
  annotate:
    (1..100)     # числата от едно до сто
    (1...100)    # същите, но без сто
    ('a'..'z')   # буквите от a до z
    ('ђ'..'џ')   # други букви

  p Превръщане на обхват в списък
  annotate:
    (1..9).to_a      #=>
    ('h'..'n').to_a  #=>

= slide '#each', 'обхождане на елементи' do
  p Принтиране на числа
  annotate:
    (1..10).each do |i|
      puts i
    end
    # 1 2 3 4 5 6 7 8 9 10

  p Принтиране на дължината на името на филм
  annotate:
    ["The Hunger Games", "Ender's Game"].each do |movie_name|
      puts movie_name.length
    end
    # 16 12

= slide '#select', 'филтриране на елементи' do
  p Избиране на всички имена започващи с J
  annotate:
    ["John", "Mark", "Dave", "Jay"].select do |name|
      name.start_with? 'J'
    end
    # ["John", "Jay"]

  p Намиране на хората над 23 години
  annotate:
    [["Lynn", 12], ["Jake", 25], ["Greg", 43]].select do |person|
      person.last > 23
    end
    # [["Jake", 25], ["Greg", 43]]

= slide '#reject', 'обратната операция' do
  p Избиране на всички имена започващи с нещо различно от J
  annotate:
    ["John", "Mark", "Dave", "Jay"].reject do |name|
      name.start_with? 'J'
    end
    # ["Mark", "Dave"]

  p Намиране на хората под 23 години
  annotate:
    [["Lynn", 12], ["Jake", 25], ["Greg", 43]].reject do |person|
      person.last > 23
    end
    # [["Lynn", 12]]

= slide '#map', 'за трансформация на колекция' do
  p Намиране на квадратите на числа от списък
  annotate:
    [1, 2, 3, 4, 5, 6].map do |number|
      number ** 2
    end
    # [1, 4, 9, 16, 25, 36]

  p Намиране на имената на хората
  annotate:
    [["Lynn", 12], ["Jake", 25], ["Greg", 43]].map do |person|
      person.first
    end
    # ["Lynn", "Jake", "Greg"]]

= slide '#all?', 'истина, ако ВСЕКИ един от елементите удовлетворява дадено условие' do
  p Всички числа от списъка ли са четни?
  annotate:
    [2, 4, 16, 64, 8, 10].all? do |number|
      number.even?
    end
    # true

  p Всяко име ли е по-късо от 6 символа?
  annotate:
    ["Jake", "Mike", "Miley", "Lindsworth"].all? do |number|
      number.length < 6
    end
    # false

= slide '#none?', 'истина, ако НИТО един от елементите не удовлетворява дадено условие' do
  p Вярно ли е, че в обхвата няма число по-голямо от 12?
  annotate:
    (1..10).none? do |number|
      number > 12
    end
    # true

  p Вярно ли е, че в списъка няма име започващо със S?
  annotate:
    ["Ann", "Alex", "Stan", "Albert"].none? do |name|
      name.start_with? "S"
    end
    # false

= slide '#any?', 'истина, ако ПОНЕ един от елементите удовлетворява дадено условие' do
  p Вярно ли е, че в обхвата има число, което се дели на 17?
  annotate:
    (1..100).any? do |number|
      number % 17 == 0
    end
    # true

  p Вярно ли е, че в списъка има име на филм включващо Game?
  annotate:
    ["Gravity", "The Hobbit", "Thor"].any? do |movie_name|
      movie_name.include? "Game"
    end
    # false

= slide '#one?', 'истина, ако ТОЧНО един от елементите удовлетворява дадено условие' do
  p Вярно ли е, че в обхвата има само едно число, което се дели на 17?
  annotate:
    (1..20).one? do |number|
      number % 17 == 0
    end
    # true

  p Вярно ли е, че в списъка има само едно име на филм включващо Game?
  annotate:
    ["The Hunger Games", "Ender's Game", "Delivery Man"].one? do |movie_name|
      movie_name.include? "Game"
    end
    # false
